<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\QuocTuyen\Documents\StudentManagement_Demonsteam\StudentManagements\StudentManagements\Data\STUDENTMANAGEMENT.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>